@font-face {
    font-family: "DungGeunMo";
    src:    url("./blue_zip/fonts/DungGeunMo.woff") format("woff"),
            url("./blue_zip/fonts/DungGeunMo.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@keyframes click {
    from {
      transform: translateX(5px);
    }  
    to {
      transform: translateX(-5px);
    }
}

html, body              {margin: 0; overflow-x: hidden; overflow-y: hidden;
                         height: 100vh; width: 100vw;
                         background: white;
                         font-family: 'DungGeunMo', sans-serif;
                         font-size: 10px; font-weight: 400; line-height: 0%;
                        }
main                    {
                         position: fixed; top: 0;
                        }
h1                      {font-size: 5rem;}
h2                      {font-size: 5rem;}
h3                      {font-size: 3rem;}

.background             {width: 100vw; 
                         position: fixed; top: 0; left: 0;
                        }
.ground                {width: 100vw; 
                         position: fixed; top: 0; bottom: 0;
                        }

.icon-box               {width: 95vw;
                         display: flex; flex-direction: row-reverse;
                         padding: 2.5vw;
                        }

.icon-box-colum         {
                         display: flex; flex-direction: column; align-items: center; flex-wrap: wrap;
                        }
.box                    {object-fit: none;
                         background-image: url("./blue_zip/web icon/itembgd1.png");
                         width: 200px; height: 200px;
                        }
.box:hover              {
                         background-image: url("./blue_zip/web icon/itembgd2.png");
                         width: 200px; height: 200px
                        }
.icon                   {object-fit: none; position: absolute;
                        }

.click                    {height: 200px; width: 150px;
                         display: flex; align-items: center; justify-content: center;
                         color: white;
                         animation: click 0.5s linear infinite alternate;
                        }

.none                   {opacity: 0;}

.etc                    {width: calc(100vw - 120px); position: absolute; bottom: 0;
                         display: flex; justify-content: space-between;
                         padding-left: 60px; padding-right: 60px; padding-bottom: 30px;
                        }
.today                  {display: flex; flex-direction: row; align-items: center;
                         color: white; gap: 30px;
                        }

.home                   {display: flex; flex-direction: row; align-items: center;
                         color: white; gap: 30px;
                        }


@media screen and (max-width: 1000px) {
  .background           {height: 100vh; width: auto;
                         position: fixed; top: 0; left: 0;
                         display: flex;
                         justify-content: center;
                         margin-left: -50%;
                        }
  .ground               {height: 100vh; width: auto;
                         position: fixed; top: 0; bottom: 0;
                         display: flex;
                         justify-content: center;
                         margin-left: -155%;
                        }
  h1                    {font-size: 3rem;}
  h2                    {font-size: 3rem;}
  h3                    {font-size: 2.5rem;}
  .etc                  {width: calc(100vw - 120px); position: absolute; bottom: 0;
                         display: flex; justify-content: space-between;
                         padding-left: 12px; padding-right: 12px;
                        }
  .today                {gap: 6px;}
  .home                 {gap: 6px;}
  .icon-box             {padding: 0px;}
  .icon                 {object-fit: contain; width: 100px;}
  .click                {height: 100px;}
  .box                  {width: 100px; height: 100px; object-fit: contain; background-size: cover;  }
  .box:hover            {
                         width: 100px; height: 100px
                        }
  .icon-size            {width: 50px;}
}
